body {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 40px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

button:hover {
  background-color: #333;
}
