* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(86, 156, 168, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #79bcaf;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    resize: none;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.counter-box {
    margin-top: 20px;
    font-size: 20px;
    color: #04130f;
    display: flex;
    justify-content: space-around;
}